.body{
    background-color: #fcc23c;
}
.jumbotron {
    background-image: url("BeerBottles.jpg");
    background-position: 50% 65%;
    background-size: 100%;
	margin-bottom: 0px;
    background-repeat: no-repeat;
    margin-left:auto;
    margin-right:auto;
}
