.home-container {
    
  h1, h3 {
 text-align: center;
 }
    
 //css for dropdown menu
 .Select {
    position: relative;
}

.Select-option {
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    display: block;
    padding: 8px 10px;
}

.hint {
    font-size: .85em;
    margin: 15px 0;
    color: #666;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
    bottom: 0;
    color: #000;
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-selected {
  background-color: #f5faff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.04);
  color: #333;
}
.Select-option.is-focused {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  color: #333;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: default;
}
.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select--multi .Select-value-label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px;
}

.Select--multi.has-value .Select-input {
    margin-left: 5px;
}

.Select--multi .Select-value-icon, .Select--multi .Select-value-label {
    display: inline-block;
    vertical-align: middle;
}


.Select, .Select div, .Select input, .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Select-input > input {
    width: 100%;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    line-height: 14px;
    padding: 16px 0 20px;
    -webkit-appearance: none;
}

.Select--multi .Select-value {
    background-color: #ebf5ff;
    background-color: rgba(0, 126, 255, 0.08);
    border-radius: 2px;
    border: 1px solid #c2e0ff;
    border: 1px solid rgba(0, 126, 255, 0.24);
    color: #007eff;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1.4;
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;
}

.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle;
}
.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}
.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none;
}
.Select--multi a.Select-value-label:hover {
  text-decoration: underline;
}
.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px;
}
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: #d8eafd;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6;
}
.Select-clear-zone {
    -webkit-animation: Select-animation-fadeIn 200ms;
    -o-animation: Select-animation-fadeIn 200ms;
    animation: Select-animation-fadeIn 200ms;
    color: #999;
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 17px;
}
.Select-clear-zone:hover {
  color: #D0021B;
}
.Select-clear {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
}
.Select, .Select div, .Select input, .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Select-checkbox-list {
    margin-top: .5em;
    overflow: hidden;
}

.Select-body {
    color: #333;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 26px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}
.Select-control {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 6px;
    border: 1px solid #000;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.search-control {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #333;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.select-arrow {
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666;
}
.select-arrow-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    padding-right: 5px;
}
.Select .Select-aria-only {
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  float: left;
}
.virtual-scroll {
  z-index: 1;
}
.section {
  margin-bottom: 40px;
}

    
//css for search-from box
input[type=text] {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 6px;
    border: 1px solid #000;
    text-color: #000;
    border: 2px solid black;
    border-radius: 4px;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    cursor: default;
    text-align:center;
}

input[type=text]#myInp {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

//css for the the webpage background and overall appearance
 .inner {
     background-color: #E9A447;
     padding: 5px;
     border-top: 5px solid black;
     border-bottom: 5px solid black;
     border-right:5px solid black;
     border-left:5px solid black;
     float: left;
     width: 44%;

}
  .dropzone-style button {
    text-align: center;
    //border-radius:1px;
  }
 
  .pair-table {
    background-color:#DACA78;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border: 2px solid black;
    border-radius: 1px;
    table, th, td {
      border: 1px solid black;
      border-radius:5px;
      text-align: center;
      padding: 5px;
    }

    td {
      padding: 10px;
      margin: 5px;
    }
  }

  .dropzone-style {
    padding-bottom: 10px;
  }
    .right {
      float: right;
      width:56%;
      
}
    .image {
   display: block;
   max-width: 100%;
   height: auto;
   
}
}
